.myBody{
    background-image: url(../img/fondo2.jpeg);
}
header{
    height: 15vh;
    border-bottom: 2px solid black;
    display: flex;
    align-items:center ;
    justify-content: space-around;
}
.hijoHeader{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navPadre{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo{
    width: 100px;
    flex-direction: column;
    justify-content: space-around;
}
.mybody{
   
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    text-align: right;

}
.pollo{
width: 60%;
display: flex;
justify-content: center;

}
.mainPadre{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.empanada{
    width: 100%;
}
.primeraLinea{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.texto{
    text-align: center;
}

.myArticles{
    width: 30%;

}

.myArticles img{
    width: 100%;
    max-height: 7cm;
}
.titulo{
    text-align: center;
    color: green;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.bloqueNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .bloqueNavHijo {
    background-color: #444;
    color: white;
    height: 50px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tapadisco{
      width: 60%;
  }
  

.cancion{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.twoofus{
    color: aliceblue;
    background-color: black;
}
.h1{
    color: aliceblue;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 300px;

}
.mybody{
    background-image: url(../img/WhatsApp\ Image\ 2022-04-11\ at\ 3.56.11\ PM.jpeg);
}
.buscador1{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.content2{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    padding: 8px;
    color: white;

}
.h1{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 70px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bodyplaylist{
    background-image: url(../img/WhatsApp\ Image\ 2022-04-11\ at\ 3.56.11\ PM.jpeg);
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 3px;

}
.divplaylist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.divplaylist2{
    margin-left: 10px;
}
.ulplaylist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionplaylist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.footer-index{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-radius: 100px;
    color: aliceblue;
}
.cajagrande{
    width: 100%;
     height:380px ;
     background-color: rgb(138, 34, 34);
}
.rectangulo{
    width: 100%;
    height:95px;
    background-color: rgb(177, 66, 14);
    display: flex;
    justify-content: space-around;
}
.blanco{
    color: white;

}
.formatologo{
  border: white 3px solid; 
width: 30px;
height: 30px;
  border-radius: 50%;
  text-align: center;
}